h1 {
    color:darkred;
    background-color: bisque;
    padding:10px;
    border: 2px solid black;
    margin-bottom: 10px;


}
h2 {
    color:darkred
}

#estg {
    background-color: lightgray;
    padding:10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

td, th{
    border: 1px solid black;
    padding: 4px;       
}
th{
    background-color: darkred;
    color: white;
}
table {
    border-collapse: collapse
}
.item_com_quadrado{
    list-style-type:square;
}
dt{
    font-weight: bold;
}
dd{
    font-style:italic;
}
body{
    background-color:#d2d2d2
}
#header{
    background-color: white;
    font-size: xx-large;
    padding: 20px;
}